/design-patterns-all/target/classes/com/urancode/design/patterns/template/*.class
/.idea
/design-patterns-all/target/classes/com/urancode/design/patterns/adapter/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/decorator/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/delegate/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/factory/abstractfactory/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/factory/factorymethod/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/factory/simplefactory/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/observer/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/others/composite/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/others/composite/shapes/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/others/visitor/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/others/visitor/shapes/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/prototype/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/proxy/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/singleton/*.class
/design-patterns-all/target/classes/com/urancode/design/patterns/strategy/*.class
/design-patterns-all/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
